body{
    margin: 0;
    padding: 0;
    background: center/cover url('./image/fond1.jpg') no-repeat;
    height: 100vh;
}
/* HEADER */
header{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    backdrop-filter: blur(3px);
}
.containerLogo{
   margin: auto;
}
.logoimg{
    border-radius: 50%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
li{
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li a{
    text-decoration: none;
    color: black;
}
.rform{
    margin: auto;
    width: 35%;
    height: 50%;
    backdrop-filter: blur(5px);
    padding: 50px;
    border: 1px solid black;
    border-radius: 30px;
}
form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rform > form > label{
    margin: 10px;
    background-color: red;
}
.rform > form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.rform > form > div > label{
    margin: 10px;
    font-size: 1.3rem;
}
.rform > form > div > input{
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    height: 20px;
    width: 50%;
}
.titre1{
    text-align: center;
    font-size: 1.9rem;
    font-weight: normal;
}
#registration_form_agreeTerms{
    display: flex;
    justify-content: center;
}
.containerBtn{
    display: flex;
    align-items: center;
    
}
.rform > form > button{
    width: 30vw;
}
.btn{

    border-radius: 5px;
    height: 30px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}
/* PRODUCT */
.tbodPrdoduct{

}
.btnDeco{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
table{
    margin: auto;
    border: 3px solid black;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.075);
    border-collapse : collapse;
    backdrop-filter: blur(5px);
}
th{
    padding: 20px;
    border: 1px solid black;
}
td{
    padding: 20px;
    border: 1px solid black;
}
th{
    font-weight: normal;
    text-align: center;
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
button{
    margin: 10px;
}
@media screen and (max-width:600px) {
    ul{
        flex-direction: column;
        text-align: center;
    }
}
#inputEmail,#inputPassword{
    background-color: rgba(252, 252, 252, 0.082);
    border-style: none;
    border: 1px solid;
    
}
