{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table" id="tb1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>cat</th>
                <th>Datecreate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="tbodPrdoduct">
        {% for product in products %}
            <tr class="trTbody">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.categorie }}</td>
                <td>{{ product.datecreate ? product.datecreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                
                    <a href="{{ path('product_show', {'id': product.id}) }}">regarder</a>
                {% if app.user %}
                    <a href="{{ path('product_edit', {'id': product.id}) }}">modifier</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('product_new') }}">crée un produit</a>
    {% endif %}
{% endblock %}
