<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="/style.css">
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
            <header>
        <div class="containerLogo">
            <a href="{{ url('index_index') }}"><img class="logoimg" src="../image/logoH.png" alt=""></a>
        </div>
        <nav class="nav">
            <ul>
                <li class="lien1">
                    <a href="{{ url('product_index') }}">Produits</a>
                </li>
                <li class="lien1">
                    <a href="{{ url('categorie_index') }}">Catégorie</a>
                </li>
                <li class="lien1">
                    <a href="{{ url('app_login') }}">Connexion</a>
                </li>
                <li class="lien1">
                    <a href="{{ url('app_register')}}">s'inscrire</a>
                </li>
            </ul>
        </nav>
    </header>
        {% block body %}
        <h1>Voici mon exercice</h1>
        {% endblock %}
    </body>
</html>
