{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                {% if app.user %}
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">regarder</a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">modifier</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% if app.user %}
    <a href="{{ path('categorie_new') }}">crée une catégorie</a>
    {% endif %}
{% endblock %}
