{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ categorie.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_index') }}">retour</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">modifier</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
